/* CSS written by Sebastian Deslauriers */
#contentwrap{
    background-color: #CcCACA;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 1%;
    padding-bottom: 2.5%;
}
#contentwrap h1{
    padding-bottom: 2.5%;
}
button{
    margin-top: 2.5%;
}
#moviename{ /* adjust the width of the name field becasue some movies names are long */
    width: 65%;
}
.moviedetails{
    padding: 0.75rem;
    border-style:solid;
    margin:2px;
}